#scroll-feature, .discordoverlay {
    display: none !important;
}

.bg-wrapper, #backg {
    background-size: (100% 100%) !important;
}

.bg-wrapper, #backg {
    opacity: 0.95;
    overflow: hidden;
    background-size: cover !important;
    background-position: center center !important;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left 0;
    background-size: cover;
}

.bg-wrapper, #backg {
    -webkit-filter: blur(0px) !important;
    filter: url(#blur);
    filter: blur(0px) !important;
}

.channel-emote {
    display: inline !important;
    max-width: 110px !important;
    max-height: 110px !important;
}

.selectEmote td, .selectEmote th {
    border-top: 0px !important;
}

.selectEmote:hover {
    cursor: pointer;
}

.selectEmote {
    width: 100%;
}

.popover {
    width: 100% !important;
}

.popover-content {
    padding: 0px !important;
}

.smol-emote {
    max-height: 20px;
    max-width: 20px;
}

.emote-table {
    background: rgba(27, 28, 31, 0.97) !important;
    margin-bottom: 0px !important;
    position: absolute;
    bottom: 40px;
    z-index: 10;
}

.countdown {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.countdownbase {
    height: auto !important;
    width: auto;
    line-height: 5px;
    margin: 0px auto 0;
    padding: 0 50px;
    background: #00000030;
    color: #d6d6d6;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 7px #2220;
    text-shadow: 0 0 3px #fff;
}

span#days, span#hours, span#minutes, span#seconds, span#days2, span#hours2, span#minutes2, span#seconds2 {
    display: inline-block;
    font-size: 4.5rem;
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    margin: 5px;
    position: inherit;
}

.list-keep {
    background-color: #367117 !important;
}

.expand-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cs-jstext, #cs-motdtext, #cs-csstext {
    color: #f2ea57 !important;
}

.chatimg {
    max-width: 100%;
    max-height: 200px;
}

.countdownbaseActive {
    height: auto !important;
    width: auto;
    line-height: 5px;
    margin: 0px auto 0;
    padding: 0 50px;
    background: #00000030;
    color: #f2ea57;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 7px #2220;
    text-shadow: 0 0 3px #fff;
}


.spoiler-img-inside {
    color: #a2a2a2;
    background: rgba(0, 0, 0, 0.08);
    filter: blur(70px);
    -webkit-filter: blur(70px);
    -moz-filter: blur(70px);
    -o-filter: blur(70px);
    -ms-filter: blur(70px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
    transform: scale(1.001);
}

.imgContainer:hover {
    cursor: pointer;
}

.imgContainer {
    border: solid 1px white;
    overflow: hidden;
}

.countdownDate {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    padding: 0 50px;
}