/* CONTROL BLOCK */
#disco {
    top: -234px;
    left: 1494px;
    height: 449px;
    width: 753px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    position: absolute;
    z-index: 3;
    opacity: 1;
}

#imgWrap1 {
    top: 841px;
    left: 2px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    position: absolute;
    z-index: 99;
    opacity: 1;
    height: 308px;
    width: 395px;
}

#imgBubble {
    height: 146px;
    width: 163px;
}

#discoimg {
    height: 683px;
    width: 409px;
}

#imgWrapFixed1 {
    top: 48px;
    left: 277px;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    position: absolute;
    z-index: 99;
    opacity: 1;
    height: 339px;
    width: 414px;
}

#imgBubble2 {
    height: 702px;
    width: 855px;
}

/**/
#footer div.container {
    background-color: rgba(0,0,0, 0.75) !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: rgba(0,0,0, 0.75) !important;
}

#userlisttoggle, #emotelistbtn, #fullscreenbtn, #settings, #hidesettings {
    background-color: rgba(0,0,0, 0.85) !important;
}

#userlisttoggle:hover, #emotelistbtn:hover, #fullscreenbtn:hover, #settings:hover, #hidesettings:hover {
    background-color: rgba(0,0,0, 0.85) !important;
}

.section, .well, #controlsrow{
    background-color: rgba(0,0,0, 0.6) !important;
}
div#messagebuffer, div#userlist {
    background-color: rgba(0,0,0, 0.85) !important;
}

input#chatline {
    background-color: rgba(0,0,0, 0.7) !important;
}
/**/

/* CONTROL BLOCK END */

#scroll-feature, .discordoverlay {
    display: none !important;
}

.bg-wrapper, #backg {
    background-size: (100% 100%) !important;
}

.bg-wrapper, #backg {
    opacity: 0.95;
    overflow: hidden;
    background-size: cover !important;
    background-position: center center !important;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left 0;
    background-size: cover;
}

.bg-wrapper, #backg {
    -webkit-filter: blur(0px) !important;
    filter: url(#blur);
    filter: blur(0px) !important;
}

.channel-emote {
    display: inline !important;
    max-width: 110px !important;
    max-height: 110px !important;
}

.selectEmote td, .selectEmote th {
    border-top: 0px !important;
}

.selectEmote:hover {
    cursor: pointer;
}

.selectEmote {
    width: 100%;
}

.popover {
    width: 100% !important;
}

.popover-content {
    padding: 0px !important;
}

.smol-emote {
    max-height: 20px;
    max-width: 20px;
}

.emote-table {
    background: rgba(27, 28, 31, 0.97) !important;
    margin-bottom: 0px !important;
    position: absolute;
    bottom: 40px;
    z-index: 10;
}

.countdown {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.countdownbase {
    height: auto !important;
    width: auto;
    line-height: 5px;
    margin: 0px auto 0;
    padding: 0 50px;
    background: #00000030;
    color: #d6d6d6;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 7px #2220;
    text-shadow: 0 0 3px #fff;
}

.cd_time {
    display: inline-block;
    font-size: 4.5rem;
    height: 0px;
    margin-left: auto;
    margin-right: auto;
    margin: 5px;
    position: inherit;
}

.list-keep {
    background-color: #367117 !important;
}

.expand-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cs-jstext, #cs-motdtext, #cs-csstext {
    color: #f2ea57 !important;
}

.chatimg {
    max-width: 100%;
    max-height: 200px;
}

.countdownbaseActive {
    height: auto !important;
    width: auto;
    line-height: 5px;
    margin: 0px auto 0;
    padding: 0 50px;
    background: #00000030;
    color: #f2ea57;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 7px #2220;
    text-shadow: 0 0 3px #fff;
}


.spoiler-img-inside {
    color: #a2a2a2;
    background: rgba(0, 0, 0, 0.08);
    filter: blur(70px);
    -webkit-filter: blur(70px);
    -moz-filter: blur(70px);
    -o-filter: blur(70px);
    -ms-filter: blur(70px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
    transform: scale(1.001);
}

.imgContainer:hover {
    cursor: pointer;
}

.imgContainer {
    border: solid 1px white;
    overflow: hidden;
}

.countdownDate {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    padding: 0 50px;
}

.underline {
    text-decoration: underline;
}
.headbtn {
    color: white !important;
}

#voteskipwrap {
    width: 250px;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    left: 80%;
    right: 0;
    top: 45px;
    position: absolute;
    opacity: 0.5;
    color:red;
}

#voteskipNope {
    width: 50%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    left: 28%;
    right: 0;
    top: -1%;
    position: absolute;
    opacity: 0.7;
}

#voteskipFinal {
    width: 20%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
    left: 43.5%;
    right: 0;
    top: 600px;
    position: absolute;
    opacity: 0.7;
}

.toss {
    color: #ffbf35;
}

#messagebuffer {
   background-position:center bottom !important;
   background-repeat: no-repeat !important;  
   background-size: 100% !important;
}

body {
overflow-x: hidden !important;
}

#backg {
top: 50px !important;
//overflow-y: hidden !important;
position: fixed !important;
}

div span {
//text-shadow: 0 0 0.2em #000000, 0 0 0.2em #000000,
        0 0 0.2em #000000 !important;
}

.deleteMessageBtn {
padding: 2.5px 5px !important;
font-size: 8px !important;
}

.theme-col-container {
    width: 600px;
    height: 50px;
    float: left;
    text-align: left;
    margin: 20px;
}

.countdown-container {
    width: 300px;
    height: 100px;
    float: left;
    text-align: center;
    margin: 10px;
}

.yellow {
    color: #FFFF33;   
}

.bg-preview {
    max-width: 300px;
    max-height: 150px;
    cursor: pointer;
}

.background-select-container {
    width: 300px;
    height: 150px;
    float: left;
    text-align: center;
    margin: 40px;
}

.achievement-container {
    width: 150px;
    height: 150px;
    float: left;
    text-align: center;
    margin: 30px;
}


.achievement-table {
    background: rgba(27, 28, 31, 0.97) !important;
    margin-bottom: 0px !important;
    position: absolute;
    top: -30px;
    z-index: 99;
}

.achievement-container-small {
    position: relative;
    z-index: 99;
}

.full {
    float: right;
    height: auto;
    width: 99%;
    position: relative;
    z-index: 99;
    display: block;
    overflow: hidden;
}

.amq-wrap {
position: relative;
    height: auto;
    width: auto;
}

.amq-close-btn {
    position:absolute; 
    top: 95%; 
    z-index: 100; 
    left: 70%;
}

.amq-center-wrap {
    text-align: center;
}

.top-margin-theme {
    margin-top: 20px;
}

.theme-menu {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;   
}